CONFIG_SYS_EXTRA_OPTIONS="IMX_CONFIG=board/chipsee/mx6uleisd/mx6ul_16x_mt41k256.cfg,MX6UL,DRAM_SIZE=512"
CONFIG_ARM=y
CONFIG_TARGET_MX6ULEISD=y
CONFIG_SYS_MALLOC_F=y
CONFIG_SYS_MALLOC_F_LEN=0x400
CONFIG_DM=y
CONFIG_DM_THERMAL=y
